* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    color: #1B281B;
    line-height: 1.6;
    margin-block: 20px;
    margin-inline: 100px;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-block: 0.5rem;
    margin-inline: auto;
}

header img {
    max-inline-size: 100px;
}


h1 {
    color: #467689;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
    @media (width > 720px) {
        font-size: 6rem;
    }
}

.teal-text {
    color: #0b4a5a;
}



h2 {
    font-size: 3rem;
    color: #cb731c;
    line-height: 1.3;
    text-align: start;
}

.teal-bg {
    padding: 30px;
    border: solid #0b4a5a 5px;
    background-color: #467689;
    color: #fff;
    margin-block: 1rem;
}

.teal-bg strong {
    color: #002002;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: darkgoldenrod;
}

a:hover,
a:focus-visible {
    color: black;
}

img {
    display: block;
    max-inline-size: 100%;
}

a:active {
    color: grey;
}

.two-column-layout {
    display: grid;
    gap: 40px;
    margin-block-end: 60px;
    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two-column-layout img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Replaces background-size for <img> elements */
    display: block;
}
h3 {
    text-align: start;
}

section {
    margin-block: 6rem;
}

.primary-navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.primary-navigation a {
    color: black;
    font-weight: bold;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: #5f9b9f;
}

ul,
ol {
    /*list-style: none;*/
    list-style-position: outside;
}

li {
    margin-block: 5px;
}





.treeSentinel-bg {
    background-image: url("../Assets/images/treesentinel.jpg");
    color: #fff;
    padding: 30px;
    line-height: 1.5;
    border: solid #0b4a5a 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
}
