.header {
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    border-block-end: .0625rem solid #ccc;
    grid-column: 1 / 3;
    block-size: 56px;
    margin-block: 0px;
}

.header__container {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
