.main-layout {
    display: grid;
    padding: 30px;
    block-size: 100dvh;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 60px 1fr 120px;
}

.main-content {
    margin-block: 20px;
    margin-inline: 30px;
}
